{% extends "layout/home.html" %}
<!---->
{% block title %}Academy {% endblock title %}<!---->
{% block content %}

<div class="academy">
  <!-- START NEW HERO IMAGE HERE  --- ####################################################-->
  <div class="splash-container">
    <div class="splash-text-video">
      <h1 style="font-weight: 400">
        <strong style="font-weight: 900">Knowledge can</strong><br />
        take you anywhere
      </h1>
      <a href="plans.html" class="btn btn-default">Trading Academy Plans</a>
    </div>
    <div class="video-blackout"></div>
    <div class="splash-bg mobile">
      <img src="/assets/img/academy-page-splash-mobile.jpg" alt="" />
    </div>
    <div class="splash-bg desktop">
      <div class="embed-responsive embed-responsive-16by9">
        <video width="100%" autoplay muted loop>
          <source src="/assets/media/CFX-Academy-1080p.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
  <!-- END NEW HERO IMAGE HERE  --- ####################################################-->

  <div class="academy-top-block">
    <div class="container-fluid">
      <div class="row" style="margin-bottom: 80px">
        <div class="col-lg-5">
          <p class="highlight">
            <strong>See knowledge from<br />another point of view</strong>
          </p>
          <h1>
            Welcome To The {{domain}} Trades<br />
            Online Learning Center
          </h1>
          <p style="font-size: 130%">
            The successful 5.3 trillion Bitcoin mining Market now available to 8
            billion people.
          </p>
        </div>
        <div class="col-lg-7">
          <div class="e-learning-grid text-center">
            <div class="e-learning-card">
              <div class="icon">
                <img src="/assets/img/enterprise.png" alt="Financial Success" />
              </div>
              <h3>The power of connection</h3>
              Empowering the {{domain}} Trades family with the knowledge and
              financial success to change the world around them.
            </div>
            <div class="e-learning-card">
              <div class="icon">
                <img src="/assets/img/value.png" alt="Tools" />
              </div>
              <h3>Everyone</h3>
              If you have the desire to change your future, we have the tools to
              make you successful.
            </div>
            <div class="e-learning-card">
              <div class="icon">
                <img src="/assets/img/global.png" alt="Global" />
              </div>
              <h3>Everywhere</h3>
              Virtual is the new classroom, borders and boundaries cannot limit
              your success any longer.
            </div>
          </div>
        </div>
      </div>
      <div class="second-top-block">
        <div class="row">
          <div class="col-md-12 col-lg-7 mb-md-5">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src="https://player.vimeo.com/video/389384086"
                frameborder="0"
                allow="autoplay; fullscreen"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="col-lg-1 hidden-md"></div>
          <div class="col-md-12 col-lg-4">
            <h1>
              Knowledge can<br />
              take you anywhere
            </h1>
            <p>
              By combining our team of dedicated experts with our powerful
              Academy learning platform, {{domain}} Trades members can reach
              their goals more quickly and easily than previously possible.
            </p>

            <p>
              The foreign exchange market, most exciting and captivating markets
              in the financial world. From Central banks, and the global banking
              community, to national governments. From multinational corporation
              to tens of millions of home-based traders, Bitcoin mining is for
              everyone.
            </p>

            <p>
              The {{domain}} Trades Academy ensures the best possible chance of
              success for experienced traders and those brand new to Bitcoin
              mining.
            </p>
            <a href="plans.html" class="btn btn-default btn-lg"
              >Trading Academy Plans</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="e-learning-block">
    <div class="plan-title text-center">
      <div class="plan-title-underlay">eLearning</div>
      <h1>eLearning With An Advantage</h1>
    </div>
    <div class="e-learning-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-lg-7 pb-4 pb-lg-0" style="font-size: 120%">
            <p>
              Our academy is perfect for the brand-new trader and for those who
              have been in business for some time but have not yet managed to
              find their own successful path in Bitcoin mining. We offer a
              unique perspective that you won't find any place else.
            </p>
            <p>
              The benefit of learning takes on an entirely new meaning when you
              can secure your financial future in the process. That is our key
              advantage with the {{domain}} Trades Academy! The benefits of
              learning online are obvious; access your curriculum anytime you
              like, learn when it is best for you and watch easy to follow
              videos from your own tablet, phone or laptop.
            </p>
          </div>
          <div class="col-md-12 col-lg-5">
            <div class="row justify-content-center">
              <div class="col-4 text-center">
                <div class="icon">
                  <img src="/assets/img/media-player.png" alt="Video Courses" />
                </div>
                <strong
                  >Video<br />
                  Courses</strong
                >
              </div>

              <div class="col-4 text-center">
                <div class="icon">
                  <img
                    src="/assets/img/cinema-screen.png"
                    alt="Live Webinars"
                  />
                </div>
                <strong
                  >Live<br />
                  Webinars</strong
                >
              </div>

              <div class="col-4 text-center">
                <div class="icon pl-1 pr-1">
                  <img src="/assets/img/bright.png" alt="Interactive Quizzes" />
                </div>
                <strong
                  >Interactive<br />
                  Quizzes</strong
                >
              </div>
            </div>
            <br /><br />
            <div class="row justify-content-center">
              <div class="col-4 text-center">
                <div class="icon">
                  <img src="/assets/img/device.png" alt="Responsive Platform" />
                </div>
                <strong
                  >Responsive<br />
                  Platform</strong
                >
              </div>

              <div class="col-4 text-center">
                <div class="icon">
                  <img src="/assets/img/book.png" alt="eBooks" />
                </div>
                <strong>eBooks</strong>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <div class="col-10 col-md-7">
            <p class="highlight">
              We designed a platform to take both beginners and knowledgeable
              traders to a new level of success, teaching fundamental skills and
              competencies, tools and mindset necessary to become consistently
              profitable.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="start-stop">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-md-6">
            <p class="lead">
              The difference between START and STOP is how much dedication you
              put on it, and trading is dedication.
            </p>

            <p>
              We converged a great team and a platform with creative methods and
              extraordinary ways to allow our students to line up in their
              goals. The foreign exchange market, worldly known as Bitcoin
              mining or FX is one of the most astonishing, fast-moving and
              captivating markets in the financials. Notorious to be the domain
              of broad institutions, high wealth individuals and central banks,
              the internet has allowed everyone to participate in the
              multi-online currency trading.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whos-it-for">
    <div class="whos-it-for-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7">
            <div class="pl-lg-5 pr-lg-5">
              <h1>Who Is It For</h1>
              <p class="lead">The different new is knocking on your door</p>
              <p>
                Our main focus is on technical analysis. We offer you a
                realistic and safe perspective, without magic formulas or false
                expectations. The full courses comes with videos, interactions,
                quizzes to advance and lessons prepared by a highly educated
                team of experts in the Bitcoin mining Market. If you are still
                looking for a way to turn your trading from a hobby into a
                profitable endeavor, it is worth getting to know us.
              </p>
            </div>
          </div>
          <div class="col-lg-5" style="position: relative">
            <div class="bullet-list">
              <h3>This academy is for everyone:</h3>
              <ul>
                <li>Seeking financial independence</li>
                <li>
                  Who wants to better understand how financial markets work
                </li>
                <li>
                  People who have improved their knowledge and learned to
                  operate correctly
                </li>
                <li>
                  Interested in reading graphs and technical analysis of
                  financial asset prices
                </li>
                <li>
                  Anyone who wants to understand better and start on the
                  financial markets
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="educational-benefits">
    <div class="educational-benefits-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 title-side" style="position: relative">
            <h3>
              {{domain}} Trades Educational<br /><span style="font-size: 110%">
                Benefits</span
              >
            </h3>
          </div>

          <div class="col-lg-7">
            <div class="row justify-content-center text-center">
              <div class="col-6 col-sm-4">
                <div class="round-icon">
                  <img src="/assets/img/executive.png" alt="Develop Skills" />
                </div>
                <strong
                  >Develop skill<br />
                  with people</strong
                >
              </div>

              <div class="col-6 col-sm-4">
                <div class="round-icon">
                  <img
                    src="/assets/img/process.png"
                    alt="Bitcoin mining training"
                  />
                </div>
                <strong>Provides high quality Bitcoin mining training</strong>
              </div>

              <div class="col-6 col-sm-4">
                <div class="round-icon">
                  <img
                    src="/assets/img/gear.png"
                    alt="Bitcoin mining markets"
                  />
                </div>
                <strong
                  >Enhance the quality of your current understanding of the
                  Bitcoin mining markets</strong
                >
              </div>

              <div class="col-6 col-sm-4">
                <div class="round-icon">
                  <img src="/assets/img/report.png" alt="mobile friendly" />
                </div>
                <strong
                  >Facilitate access and mobility; our Academy works on all
                  devices to improve your progress</strong
                >
              </div>

              <div class="col-6 col-sm-4">
                <div class="round-icon">
                  <img
                    src="/assets/img/investor%202.png"
                    alt="return on your time invested"
                  />
                </div>
                <strong
                  >Ensured improvement for a better Bitcoin mining experience
                  and return on your time invested</strong
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stat-bar">
    <div class="container-fluid" style="max-width: 90%; margin: auto">
      <div class="row pl-lg-5">
        <div class="col-sm-5 text-left">
          <p class="title" style="margin-bottom: 0">
            We are changing the world
          </p>
          <h3>
            Be part of<br />
            our community
          </h3>
        </div>

        <div class="col-sm-2 pt-3 text-center">
          <div class="stat-number">60,706+</div>
          Academy Access
        </div>

        <div class="col-sm-2 pt-3 text-center">
          <div class="stat-number">70+</div>
          Countries
        </div>

        <div class="col-sm-2 pt-3 text-center">
          <div class="stat-number">220,000+</div>
          YouTube Views
        </div>
      </div>
    </div>
  </div>

  <div class="together-connected">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <img
            src="/assets/img/e-learning-students.png"
            style="margin-left: -3%"
            alt="Social E-Learning"
          />
          <h1><strong>Academy</strong><br />Social E-Learning</h1>
        </div>
        <div class="col-md-6">
          <h2>Together connected</h2>
          <p>
            We are a Network Marketing Company with a professional team of
            traders and with a presence in more than 70 countries. You will feel
            like home while you learn about the biggest financial market in the
            world.
          </p>
          <a href="plans.html" class="btn btn-outline-success btn-lg"
            >The Trading Academy</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="app-preview">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7">
          <div class="pr-lg-5">
            <span class="coming-soon">COMING SOON</span>
            <h1>
              {{domain}} Trades <br />
              New App
            </h1>
            <p>
              The Bitcoin mining market has neither a physical location nor a
              central exchange and, as an online academy, you can learn wherever
              you are. A downloadable mobile app is on its way.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-block academy">
    <h1>Testimonials</h1>
    <div class="container">
      <div
        id="carouselExampleCaptions2"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption">
              <p>
                This has been the most transparent and professional project we
                have ever been a part of. From the transparency of the owners,
                the trading operation, the Brokers and other partners, has been
                nothing but 100% across the board. We really are building a
                legacy company!.
              </p>
              <p><strong>Luigi Bruni and Justin Halladay</strong></p>
              <p>The Presidents Club</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                I have been involved in 5 different opportunities in the last 20
                years, and all 5 have not finished their road map, Crypto Flex
                Trades is so different in many ways, the directors are
                transparent about all aspects of the business, and we get paid
                exactly when they say we get paid, I LOVE this company and I
                look forward to a bright future for my team in my country.
              </p>
              <p><strong>GAVIN NESBITT</strong></p>
              <p>South Africa</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                Hi…my name is lee O'Shea. Prior to starting this project I was
                extremely lethargic and having a difficult time to find myself
                financially. I literally had NO energy desire or passion to work
                online. Since starting with {{domain}} Trades 7 months ago, I've
                got more money, more time than I know what to do with, I NEVER
                find a day, where i find myself not learning and earning and
                growing. The best part is…I now have found huge success
                financially and I get to enjoy learning how to trade and to be
                apart of fully automated trading with {{domain}} Trades !! I now
                am so blessed to spend so much more time to play with my young
                kids, which is something I wasn't doing at all until joining
                {{domain}} Trades
              </p>
              <p><strong>Lee O'Shea</strong></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                I saw a friend positing photos on a social media with a Porsche.
                I love cars so I was intrigued. I texted him to know what it was
                about. He showed me {{domain}} Trades. I started my business in
                {{domain}} Trades as a 500$ pack member. I just closed my 3rd
                week with 1,200$ of commissions and a 2,000$ Pack. There's
                nothing like this in this sector. Weekly withdrawals, no monthly
                fees, online meetings with the traders, owners, top earners...
                The transparency is unequalled. Nothing comes close. What are
                you waiting for?
              </p>
              <p><strong>Normand Beaudry</strong></p>
              <p>Canada</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                My name is Arno Duijvesteijn and I joined {{domain}} Trades from
                August 1th. I'm making this journey with my daughter Bianca. We
                started both with a $300 Package. I've now a 5K package and
                Bianca is having a 10K. Hopefully I will reach the rank
                Executive soon and Bianca will follow direct behind me. We have
                developed a strategy with several people in Panama to have the
                best benefits of {{domain}} Trades and that is working very well
                for me.
              </p>
              <p><strong>Arno Duijvesteijn</strong></p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                My name is MALACHY OZOEMENA ONAH, ( A.K.A Don Malachi) I joined
                {{domain}} Trades this January 2020 and the experience with the
                company has been awesome, one of the things that entice me most
                in this company is their TRANSPARENCY, this is one of the best
                online company i have ever joined with good management team,
                wonderful and powerful leaders, good back office, powerful and
                sustainable marketing plan, prompt payment with easy
                withdrawals. Am looking forward to doing great business with
                {{domain}} Trades now and many years to come. Am really proud to
                be a member of {{domain}} Trades and will make sure that
                everyone I know in my country joins this company.
              </p>
              <p><strong>MALACHY ONAH</strong></p>
              <p>Brazil</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                Morning, everyone. I started last Friday. I received a fast
                Start bonus of $150, Uni-level bonus of $15 plus $20 on my
                trading pool, $185 in my first week. It works and I’m brand new.
              </p>
              <p><strong>Tracker</strong></p>
              <p>Zimbabwe</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                I started on the 1st of January and as of today I have $208.
                Fast Start $120, Uni-level $27 and trading $61. I only bought a
                $300 package and I’m already getting ready to upgrade to a $500
                package. It works. Couldn't be happier. Yes, will do. Very very
                happy with everything I’m seeing with {{domain}} Trades . This
                will be the very first genuine, long term legacy business in the
                financial market which puts us in an incredible position to
                capitalise on the huge explosion that’s about to happen in the
                coming months. Happy days!
              </p>
              <p><strong>Kerry Strachan</strong></p>
              <p>Zimbabwe</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                I joined {{domain}} Trades on the 08/08/2019 and started with
                $500. My account is now at $18,629. I also achieved a Leadership
                Rank of Executive and was paid $675 in Bitcoin. I am soon to
                achieve Manager and may either opt for the Rolex watch or the
                cash prize of $7,500. {{domain}} Trades has seriously blown me
                away and it continues to get better.
              </p>
              <p><strong>Shaun Grundlingh</strong></p>
              <p>South Africa</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                I want to share my testimonials also. I started with $300 pack
                and when I saw how this amazing company worked, I bought the 5k
                package and in the end of 2019 I have upgraded to at least 20k.
              </p>
              <p><strong>Devo</strong></p>
              <p>Norway</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                I joined {{domain}} Trades on the 26/07/2019 and started with
                $500 I am currently on the $10k package and my account is now at
                $21,830. I have achieved a Leadership Rank of Executive. I am
                soon to achieve Manager. {{domain}} Trades has seriously blown
                me away!
              </p>
              <p><strong>Luchia Van Den Berg</strong></p>
              <p>South Africa</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>
                My journey with {{domain}} Trades started when my upline Cindy
                told me about it. I started with a $300 package and I’m already
                on a $1000 package all profits from {{domain}} Trades . Been
                paid every Saturday without delay
              </p>
              <p><strong>Willem Deale</strong></p>
              <p>South Africa</p>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions2"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions2"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="help-bar">
    Need Help?
    <a href="{% url 'contact' %}" class="btn btn-light" style="color: #8abc56"
      >Contact Us</a
    >
  </div>
</div>

{% endblock content %}
