{% extends "layout/home.html" %}
<!---->
{% block title %}Life events {% endblock title %}<!---->
{% block content %}

<div class="page-container">
  <!--		<div class="panama-live-banner text-center">-->
  <!--			<div class="container">Purchase Access to our Live stream here <strong><a href="/live-panama/" style="color:white" class="btn btn-outline-light">Click Here</a></strong></div>-->
  <!--		</div>-->

  <div class="bloc tc-white bg-live d-bloc" id="bloc-12">
    <div class="container content-area">
      <div class="clearfix"></div>
      <div class="side-app">
        <div id="tcp-live-event"></div>
      </div>
    </div>
  </div>
</div>
<!-- Main container END -->

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

{% endblock content %}
