{% extends 'layout/users.html' %}
<!---->
{% block title %} Dashboard {% endblock title %}<!---->
<!---->
{% block styles %}
<style></style>
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-lg-4">
    <h3 class="wel-txt mb-4">Hi,Welcome Back !</h3>
  </div>
</div>
<div class="container">
  <div class="user-statistic">
    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st1--icon"></div>
        <div class="user-statistic__value">
          <span> $<b>{{user.balance}}</b> </span>
        </div>
        <div class="user-statistic__title">Total Balance</div>
      </div>
    </div>
    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st2--icon"></div>
        <div class="user-statistic__value" id="load1">
          <span> $<b>{{user.deposit_balance}}</b> </span>
        </div>
        <div class="user-statistic__title">deposits Balance</div>
      </div>
    </div>
    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st3--icon"></div>
        <div class="user-statistic__value" id="load2">
          <span> $<b>{{ earnings }}</b> </span>
        </div>
        <div class="user-statistic__title">Ref bonus</div>
      </div>
    </div>
    <div class="user-statistic__item">
      <div class="user-statistic__card">
        <div class="user-statistic__icon st4--icon"></div>
        <div class="user-statistic__value" id="load3">
          <span> $<b>{{user.total_withdraw}}</b> </span>
        </div>
        <div class="user-statistic__title">Total withdrawn</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="tip-card card">
        <div id="timerblock"></div>

        {% if investment != None %}
        <div class="tip-balance">
          <ul>
            <li>
              <h4>Amount Invested :</h4>
              <p>${{investment.amount_invested}}</p>
            </li>
            <li>
              <h4>Package :</h4>
              <p>{{investment.package.name}}</p>
            </li>
            <li>
              <h4>Start:</h4>
              <p
                id="engtime"
                data-time="{{ investment.end_date|date:'M d, Y H:m:s' }}"
              >
                {{investment.start_date|date:"M.d g:iA"}}
              </p>
            </li>
            <li>
              <h4>End:</h4>
              <p id="engtimes">{{investment.end_date|date:"M.d g:iA"}}</p>
            </li>
            <!-- <li>
              <h4>Current Profit :</h4>
              <p>${{investment.amount_earn}}</p>
            </li> -->
            <li>
              <h4>Status :</h4>
              <p
                class="{% if investment.status == 'active' %} text-primary {% elif investment.status == 'pending' %} text-warning {% elif investment.status == 'inactive' %} text-danger {% else %} text-success {% endif %}"
              >
                {{investment.status}}
              </p>
            </li>
            {% if investment.status == 'completed' %}
            <li>
              <a href="{% url 'create_investment' %}" class="btn btn-red mt-2"
                >Invest</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
        {% else %}
        <div class="tip-balance text-center" style="margin: 40px 0">
          <h4 class="invest-tip">Your Don't Have Any Current Investment</h4>
          <a href="{% url 'create_investment' %}" class="btn btn-red mt-3"
            >Invest</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4">
      <div class="auth-info-card card mb-5">
        <div>
          <div class="auth-info-card-header">
            <h4 class="text-white">Activities</h4>
          </div>
          <div class="auth-info-card-body">
            {% for log in logs %}
            <div class="auth-info-item">
              <div
                class="d-flex"
                style="align-items: center; justify-content: space-between"
              >
                <h5 class="text-white">Web</h5>

                <div style="margin-top: -11px">
                  <!-- <h5 class="text-gray-500">{{log.city}}</h5> -->
                  <p class="ml-auto text-success" style="margin: 10px 0">
                    {{log.log_ip}}
                  </p>
                  <p class="ml-auto text-gray-500" style="margin: 10px 0">
                    {{log.date}}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
