{% extends 'layout/users.html' %}<!---->
{% block title %} Transactions {% endblock title %}<!---->
{% block styles %}
<style></style>
{% endblock styles %} {% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Transactions</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">history</li>
  </ol>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="transaction-table">
      <div class="transac-table-header">
        <div class="t-head"><b>Type</b></div>
        <div class="t-head"><b>Amount</b></div>
        <div class="t-head"><b>Date</b></div>
      </div>
      <div class="transac-table-boby">
        {% if transactions %} {% for obj in transactions %}
        <div class="t-row">
          <div class="t-cell"><span>{{obj.trans_type}}</span></div>
          <div class="t-cell"><span>${{obj.amount}}</span></div>
          <div class="t-cell"><span>{{obj.date|date:"Y:m:d g:iA"}}</span></div>
        </div>
        {% endfor %} {% else %}
        <div class="t-row">
          <div class="t-cell" align="center"><span>No Transactions</span></div>
        </div>
        {% endif %}
      </div>
    </div>

    <ul class="pagination t-page">
      <li class="page-item"><a class="prev page-link disabled">&lt;&lt;</a></li>
      <li class="page-item active"><a class="page-link">1</a></li>
      <li class="page-item"><a class="next page-link disabled">&gt;&gt;</a></li>
    </ul>
  </div>
</div>

{% endblock content %}
